@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root{
    --dark-blue:#072B70;
    --light-blue:#2db5e6;
}

.text-dark-blue{
    color: var(--dark-blue) !important;
}

.text-light-blue,a.text-dark-blue:hover{
    color: var(--light-blue) !important;
}

.bg-dark-blue{
    background-color: var(--dark-blue) !important;
}

.bg-light-blue{
    background-color: var(--light-blue) !important;
}

.bg-light-gray{
    background-color: #E0E0E0;
}

button[disabled],button:disabled{
    background-color: gray !important;
}

.bg-dark-blue-gradient{
    background: rgb(0,57,164);
    background: linear-gradient(90deg, rgba(0,57,164,1) 0%, rgba(5,32,83,1) 87%);
}